.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  background-color: #28a745;
  color: white;
  user-select: none
}
main {
    user-select: none;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 2px;
}

.divider {
  display: none;
}

p {
  font-size: 12px;
  margin: 0;
}